

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('/images/Neon\ Wall\ background.jpg');
  background-repeat: cover;
}

html {
  font-size: 10px;
  font-family: "clip", sans-serif;

}
@font-face {
  font-family: "clip";
  src: url('/fonts/clip/Clip.ttf') format("truetype");
}

:root {
  font-size: 62.5%;
}

/* styles intro */
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }

 img  {
  animation-name: example;
  width: 400px;
  height: 400px;
  background-image: none;
  animation-duration:3s;
  animation-iteration-count: initial;
  animation-delay: 3s;


 }
 a {
  background-image: none;
  text-decoration: none;
  font-weight: 600;
}
img:hover {
  transition: all 2s ease-in-out;
  transform: rotateY(360deg) scale(2);

}

@keyframes example {
  0%,
  100% {
    transition: all 2s ease-in-out;
    transform: rotateY(0deg) scale(1);
  }

  25% {
    transition: all 2s ease-in-out;
    transform: rotateY(360deg) scale(2);
  }

}

/* styles index nav */


/* Navbar */

nav ul {
  display: flex;
  background-image: none;
  justify-content: center;
  height: 10vh;
  align-items: center;
  transition: transform .2s;
}

nav li {
  list-style: none;
  background-image: none;
  padding: 0 2rem;

}

nav a {
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  color: rgb(0, 255, 255);
  text-shadow: 3px 3px 4px rgb(0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;
  background-image: none;
  font-size: 5rem;


}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


 a:hover{
  padding: 5px 5px;
  color: fuchsia;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  background-image: none;
  border-radius: 30px;
  border:rgb(0, 238, 255);
  border-style: solid;
  border-width: 3px;
  transition: all 0.5s ease-in-out;
  background-color: hsl(0, 0%, 0%, 0.5);
}
li:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  background-image: none;
  border-radius: 30px;

}
header h1 {
  background-image: none;
  border: 1px solid red;
  border-radius: 30px;

}

